* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-weight: normal;
}

body, textarea {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eef0f5;
}

header {
    padding: 16px 0;
    background-color: #131d38;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav a {
    color: #ecf0f1;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-images article img {
    width: 100%;
}

.gallery-images article {
    width: 30%;
}

#toon {
    width: 256px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    font-weight: 700;
}

section {
    color: #182C61;
}

section p {
    margin-bottom: 8px;
}

.game-image {
    margin-right: 32px;
    width: 640px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#descricao p {
    margin-right: 24px;
}

#contact .container,
#gallery .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
}

.gallery-images p {
    margin-top: 5px;
    color: #63636d;
    font-style: italic;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #131d38;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #1d3f9b;
}

input:focus, textarea:focus {
    outline-color: #131d38
}

footer {
    background-color: #131d38;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}